/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "iconfont"; /* Project id 4846178 */
    src: url("//at.alicdn.com/t/c/font_4846178_4nby9uvhupi.woff2?t=1744260575227")
            format("woff2"),
        url("//at.alicdn.com/t/c/font_4846178_4nby9uvhupi.woff?t=1744260575227")
            format("woff"),
        url("//at.alicdn.com/t/c/font_4846178_4nby9uvhupi.ttf?t=1744260575227")
            format("truetype");
}
.iconfont {
    font-family: "iconfont" !important;
}
.fade-enter-from,
.fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}
.fade-anl-enter-from,
.fade-anl-leave-to {
    opacity: 0;
}
.fade-enter-to,
.fade-leave-from,
.fade-anl-enter-to,
.fade-anl-leave-from {
    opacity: 1;
}
.fade-enter-active {
    transition: all 0.7s ease;
}
.fade-anl-enter-active {
    transition: all 0.3s ease;
}
.fade-leave-active,
.fade-anl-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.6, 0.6, 1);
}

html {
    --text-color: #000;
    --bg-color: #fff;
    --bg-color-hover: #eee;
    --footnote-color: rgba(0, 0, 0, 0.56);
    --shadow-color: rgba(0, 0, 0, 0.2);

    --menu-bg: #fafcff;
    --menu-text: #2c2c2c;
    --project-bg: #f2f6fc;
    --project-text: #2c2c2c;
}
html.dark-mode {
    --text-color: #eee;
    --bg-color: #111;
    --bg-color-hover: #222;
    --footnote-color: rgba(255, 255, 255, 0.56);
    --shadow-color: rgba(255, 255, 255, 0.2);

    --el-text-color-regular: #fff;
    --el-input-bg-color: #222;
    --el-fill-color-blank: #222;

    --el-table-tr-bg-color: #222;
    --el-table-header-bg-color: #222;
    --el-bg-color: #1c1c1c;
    --el-disabled-bg-color: #333;
    --el-table-border-color: #777;
    --el-table-border: 1px solid #777;
    --el-fill-color: #111;
    --el-fill-color-lighter: #222;
    --el-fill-color-light: #333;
    --el-bg-color-overlay: #090808;
    --el-text-color-primary: #fff;
    --el-text-color-secondary: #eee;
    --el-mask-color: rgba(0, 0, 0, 0.8);

    --menu-bg: #1c1c23;
    --menu-text: #efefef;
    --project-bg: #1a1b23;
    --project-text: #efefef;
}
body {
    margin: 0;
    background-color: var(--bg-color);

    transition: background-color 0.3s;

    overflow-x: hidden;
}
.sup {
    vertical-align: super;
    font-size: 0.5em;
}
#not-logged-in-view {
    display: flex;
}
#menu {
    box-sizing: border-box;
    height: 100vh;
    transition: margin-left 0.3s ease-in-out;
    background-color: var(--menu-bg);
    color: var(--menu-text);
    width: 150px;
    min-width: 0;
    overflow: auto;
    margin-left: -150px;
    display: flex;
    flex-direction: column;
}
#menu-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em 1em;
}
#menu-selections {
    padding: 1em 0 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}
#menu-selections-top {
    flex: 1;
}
#menu-selections-bottom {
    padding-bottom: 1em;
}
.menu-selection {
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    font-family: "iconfont", Arial, sans-serif;
}
.menu-selection:hover {
    background-color: rgba(127, 127, 127, 0.2);
}

#main {
    flex: 1;
    height: 100vh;
    overflow: auto;
}
#head-bar {
    display: flex;
    min-width: 0;
}
#menu-btn,
#night-btn {
    font-family: "iconfont";
    font-size: 2em;
    padding: 1em 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
    color: var(--text-color);
    display: inline-flex;
}
#menu-btn:hover,
#night-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#night-btn {
    justify-content: flex-end;
}

#head-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 700;
    padding: 1em 0;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    flex: 1;
}

#main-desc {
    width: 60%;
    margin: 0 auto;
}
.feature {
    padding: 50px 0;
}
.feature-title {
    font-size: 36px;
    text-align: center;
    color: var(--text-color);
}
.feature-description {
    font-size: 18px;
    text-align: center;
    color: var(--text-color);
}
#footnotes-outer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.16);
    padding: 10px;
}
.footnotes-content {
    width: 60%;
    box-sizing: border-box;
    margin: 0 auto;
    color: var(--footnote-color);
    font-size: 0.6em;
}
#bottom {
    width: 100%;
    box-sizing: border-box;
    background-color: #222222;
    padding: 10px;
}
.main-copy {
    width: 60%;
    box-sizing: border-box;
    color: #cfcfcf;
    margin: 5px auto;
    font-size: 0.8em;
}
.privacy-policy-link {
    color: #a8a8a8;
    text-decoration: underline;
}

.content {
    padding: 15px;
    color: var(--text-color);
}

.uploader {
    width: 300px;
    background-color: rgba(127, 127, 127, 0.05);
}

.project-name {
    flex: 1;
    display: flex;
    align-items: center;
}

.project {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.form-suggestion {
    text-align: center;
    margin: 0 0 10px 0;
}
.ai-response {
    background-color: rgba(127, 127, 127, 0.1);
    padding: 5px;
}
.chatdate {
    font-weight: 400;
}
.ai-response p {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.el-transfer {
    overflow: hidden;
    white-space: nowrap;
}

.el-transfer-panel {
    resize: horizontal;
    width: 400px;
}
